img {
    padding: 5px;
    width: 200px;
  }

.footer {
    background-color: #bb8f00;
    color: #ECF0F1;
    padding: 20px;
    text-align: center;
}

.footer-content p {
    margin: 5px 0;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px;
    color: #ECF0F1;
    text-decoration: none;
}

.social-links a:hover {
    color: #3498DB;
}



/* General button styling */
button {
  background-color: #f0f0f0;  
  border: 2px solid #ccc;     
  border-radius: 10px;        
  padding: 10px 20px;         
  font-family: "Cursive Lucida Handwriting", "Lucida", Cursive;
  font-size: 16px;            
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button img {
  width: 200px;  
  height: auto; 
}


button:hover {
  background-color: #ddd; 
}


.bbutton button {
  background-color: #000000;  
  color: white;               
}

.bbutton button:hover {
  background-color: #ff1a1a; 
  transform: scale(1.1);
  transition: transform 0.5s ease;
}


.bbbutton button {
  background-color: #000000;  
  color: white;               
}

.bbbutton button:hover {
  background-color: #45a049; 
  transform: scale(1.1);
  transition: transform 0.5s ease;
}


.bbbbutton button {
  background-color: #000000;  
  color: white;               
}

.bbbbutton button:hover {
  background-color: #0b7dda; 
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.podzinas {
  display: flex;              /* Use flexbox to arrange items in a row */
  justify-content: space-around; /* Add space between buttons */
  align-items: center;        /* Vertically center items */
  gap: 20px;                  /* Add space between the buttons */
  margin: 20px;               /* Add some space around the container */
}
